header{
   background-color: cornsilk;
    background-size: cover;
    size: 100px;
}
h1{
    color: blue;
    text-align: centre;
}
h2 {
    color: green;
    font-style: italic;
    text-align: center;
  }
  p {
    font-family: sans-serif;
  }
  ul {
    line-height: 40px;
  }
.like{
    align-items: center;
    text-align: center;
    line-height: 30px;
}
footer{
    text-align: center;
    background-color: gray;
    padding: 1px;
}
em{
    font-weight: bolder;
    font-size: 18px;
    font-style: normal;
}
strong{
    font-style: italic;
}