header{
    background-image: url("Images/spec.jpg");
    background-size: cover;
    size: 100px;
}
h1{
    color: blue);
    background-color: gray;
    text-align: center;
    width: fit-content;
    margin-left: 40%;
}
h2 {
    color: green;
    font-style: italic;
    text-align: center;
  }
  p {
    font-family: sans-serif;
  }
  ul {
    line-height: 40px;
  }
.like{
    align-items: center;
    text-align: center;
}
footer{
    text-align: center;
    background-color: gray;
    padding: 1px;
}